
// light-shade
$light-shade-900: #2a1707;
$light-shade-875: #301e13;
$light-shade-775: #44342b;
$light-shade-600: #725a4c;
$light-shade-400: #a48a7a;
$light-shade-225: #d2b7a7;
$light-shade-125: #e2d6cf;
$light-shade-100: #f2e9e4;

// light-accent
$light-accent-900: #2a160f;
$light-accent-875: #381a12;
$light-accent-775: #602517;
$light-accent-600: #a33d27;
$light-accent-400: #e07a5f;
$light-accent-225: #eaae9d;
$light-accent-125: #f0d2c9;
$light-accent-100: #f3ded8;

// primary
$primary-900: #191d16;
$primary-875: #1e241b;
$primary-775: #303b2a;
$primary-600: #5c6f51;
$primary-400: #7d966f;
$primary-225: #a6c693;
$primary-125: #c1e2ad;
$primary-100: #ceebbd;

// secondary
$secondary-900: #2b1514;
$secondary-875: #351b1a;
$secondary-775: #552c2a;
$secondary-600: #a75b59;
$secondary-400: #c57a77;
$secondary-225: #dbb3b0;
$secondary-125: #e8d4d2;
$secondary-100: #eddfde;

// tertiary
$tertiary-900: #21191d;
$tertiary-875: #2a2024;
$tertiary-775: #403137;
$tertiary-600: #715963;
$tertiary-400: #a68793;
$tertiary-225: #c9b8bf;
$tertiary-125: #dfd6da;
$tertiary-100: #e7e1e3;

// grey
$grey-900: #0d0f0a;
$grey-875: #222320;
$grey-775: #373836;
$grey-600: #5e605b;
$grey-400: #8d9089;
$grey-225: #bbbeb6;
$grey-125: #d7dad3;
$grey-100: #e0e4db;