<div
  class="bg-white flex flex-col w-full h-full gap-1 cursor-pointer border-muted border-solid border-[1px] rounded-md p-4 shadow-md hover:shadow-lg hover:-translate-y-1 transition-all"
>
  <div class="image flex justify-center">
    <ngx-skeleton-loader
      [theme]="{ height: '200px', width: '250px', borderRadius: '4px' }"
    />
  </div>
  <h3 class="item-title">
    <ngx-skeleton-loader appearance="line"></ngx-skeleton-loader>
  </h3>
  <div class="tags flex flex-wrap gap-1">
    <ngx-skeleton-loader appearance="line"></ngx-skeleton-loader>
  </div>
</div>
