.hero-overlay {
  background: linear-gradient(
    to bottom,
    hsl(var(--background)),
    transparent 50%
  );
}

.hero-heading {
  text-shadow: var(--color-primary-content) 0px 0px 10px;
  color: var(--color-accent-content);
}

.hero-subheading {
  backdrop-filter: blur(4px);
  color: var(--color-accent-content);
  padding: 2rem;
}
