  
  <div
    class="hero h-[calc(8rem + 100vh)]"
    style="
      background-image: url(./image.png);
    "
  >
    <div class="hero-overlay"></div>
    <div class="hero-content text-primary-775 text-center lg:m-24 m-8">
      <div class="max-w-md">
        <h1 class="mb-5 lg:text-5xl text-3xl font-bold hero-heading">Explore the world's treasures from the comfort of your screen.</h1>
        <!-- <p class="mb-5 hero-subheading">
          Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
          excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
          id nisi.
        </p> -->
        <button class="btn btn-primary" routerLink="/collections">Browse the collections</button>
      </div>
    </div>
  </div>

  <h1>Featured Collections</h1>
  <h1>Map</h1>
  