<!-- <div class="collections grid gap-2 lg:grid-cols-4 md:grid-cols-2 grid-cols-1">
  @for (item of (items$ | async)?.content; track item.id) {
  <app-item [item]="item" />
  }
</div> -->

<div class="container">
  <header class="header">
    <h1>Browse the collection of your dreams.</h1>
  </header>

  <div class="search-bar">
    <input
      #search
      type="text"
      placeholder="Search the collection..."
      (input)="itemsService.search.set(search.value)"
    />
  </div>

  <div class="list-container flex gap-2">
    <div class="filters flex flex-col gap-2 w-1/4 justify-start">
      <div class="filter">
        <h4>Museums</h4>
        <ul class="filter-list">
          @for (museum of (museums$ | async); track museum) {
          <li>
            <label class="label cursor-pointer gap-2">
              <input
                type="checkbox"
                [checked]="museumsService.filterBy().includes(museum)"
                class="checkbox checkbox-xs"
                (change)="museumsService.toggle(museum)"
              />
              <span class="label-text">{{ museum }}</span>
            </label>
          </li>
          }
        </ul>
      </div>
      <div class="filter">
        <h4>Tags</h4>
        <ul class="filter-list">
          @for (tag of (tags$ | async)?.slice(0, 10); track tag) {
          <li>{{ tag }}</li>
          }
        </ul>
      </div>
    </div>
    <div class="w-full flex flex-col gap-4">
      @defer (when items();) {
      <div class="items-list gap-4 w-full">
        @for (item of items()?.content; track item.id) {
        <app-item-card [item]="item" />
        }
      </div>
      @if (items(); as items){
      <mat-paginator
        (page)="itemsService.handlePageEvent($event)"
        [length]="items.totalElements"
        [pageSize]="items.size"
        [pageSizeOptions]="[10, 25, 50, 100]"
        aria-label="Select page"
      />}} @placeholder(minimum 2000ms) {
      <div class="items-list gap-4 w-full">
        @for (_ of [0,0,0,0,0,0,0,0,0,0,0,0].keys(); track $index) {
        <app-item-skeleton></app-item-skeleton>
        }
      </div>
      }
    </div>
  </div>
</div>
