<!-- <div class="collections grid gap-2 lg:grid-cols-4 md:grid-cols-2 grid-cols-1">
  @for (item of (items$ | async)?.content; track item.id) {
  <app-item [item]="item" />
  }
</div> -->

<div class="container">
  <header class="header">
    <h1>Browse the collection of your dreams.</h1>
  </header>

  <div class="search-bar">
    <input
      #search
      type="text"
      placeholder="Search the collection..."
      (input)="itemsService.search.set(search.value)"
    />
  </div>

  <div class="list-container flex gap-2">
    <div class="filters flex flex-col gap-2 w-1/4 justify-start">
      <div class="filter">
        <h4>Museums</h4>
        <ul class="filter-list">
          @for (museum of (museums$ | async); track museum) {
          <li>
            <label class="label cursor-pointer gap-2">
              <input
                type="checkbox"
                [checked]="museumsService.filterBy().includes(museum)"
                class="checkbox checkbox-xs"
                (change)="museumsService.toggle(museum)"
              />
              <span class="label-text">{{ museum }}</span>
            </label>
          </li>
          }
        </ul>
      </div>
      <div class="filter">
        <h4>Tags</h4>
        <ul class="filter-list">
          @for (tag of (tags$ | async)?.slice(0, 10); track tag) {
          <li>{{ tag }}</li>
          }
        </ul>
      </div>
    </div>
    <div class="w-full flex flex-col gap-4">
      <div class="items-list gap-4 w-full">
        @if (itemsService.searching()) { @for (item of (itemsService.search$ |
        async); track item.id) {
        <app-item-card [item]="item" />
        } } @else { @if (itemsService.items$ | async) { @for (item of
        (itemsService.items() ); track item.id) {
        <app-item-card [item]="item" />
        } } }
        <!-- @else { @for (item of [0,0,0,0]; track item) {
          <div class="flex flex-col gap-4">
            <div class="skeleton h-32 w-full"></div>
            <div class="skeleton h-4 w-28"></div>
            <div class="skeleton h-4 w-full"></div>
            <div class="skeleton h-4 w-full"></div>
          </div>
          } } -->
      </div>
      <!-- <p-paginator
        (onPageChange)="itemsService.setPage($event.page ?? 0)"
        [first]="0"
        [rows]="itemsService.items()?.numberOfElements"
        [totalRecords]="itemsService.items()?.totalElements"
      /> -->
      <!-- [rowsPerPageOptions]="[10, 20, 30]" -->
    </div>
  </div>
</div>
