<div class="drawer">
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
  <div class="container drawer-content">
    <header class="header">
      <h1>Browse the collection of your dreams.</h1>
    </header>

    <div class="search-bar flex gap-2">
      <input
        #search
        type="text"
        placeholder="Search the collection..."
        (input)="itemsService.search.set(search.value)"
      />
      <div class="flex-none md:hidden">
        <label
          for="my-drawer-3"
          aria-label="open sidebar"
          class="btn btn-square btn-ghost"
        >
          <lucide-icon name="funnel"></lucide-icon>
        </label>
      </div>
    </div>

    <div class="list-container gap-2 flex">
      <app-filters class="hidden md:block"></app-filters>
      <div class="w-full flex flex-col gap-4">
        @defer (when items()) {
          <div class="items-list gap-4 w-full">
            @for (item of items()?.content; track item.id) {
              <app-item-card [item]="item" />
            }
          </div>
          @if (items(); as items) {
            <mat-paginator
              (page)="itemsService.handlePageEvent($event)"
              [length]="items.totalElements"
              [pageSize]="items.size"
              [pageSizeOptions]="[10, 25, 50, 100]"
              aria-label="Select page"
            />
          }
        } @placeholder (minimum 2000ms) {
          <div class="items-list gap-4 w-full">
            @for (
              _ of [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0].keys();
              track $index
            ) {
              <app-item-skeleton></app-item-skeleton>
            }
          </div>
        }
      </div>
    </div>
  </div>
  <div class="drawer-side z-99">
    <label
      for="my-drawer-3"
      aria-label="close sidebar"
      class="drawer-overlay"
    ></label>
    <app-filters
      class="p-4 menu w-60 md:w-80 min-h-full bg-base-200"
    ></app-filters>
  </div>
</div>
