::ng-deep .vis-timeline {
  border: 0;
  .vis-item {
    color: var(--color-base-content);
    border-color: var(--color-primary);
    font-size: smaller;

    &.vis-box {
      border-width: 0;
      background-color: transparent;
    }
    &.vis-range {
      border-width: 0;
      background-color: var(--color-base-200);
    }
    .vis-item-content {
      white-space: pre-wrap;
    }
  }
  .vis-text {
    color: var(--color-base-content);
    font-size: smaller;
  }
}
